{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
    </thead>
    <tfoot>
            <tr>
                <td colspan="4"></td>
                <td> {{total | usd}} </td>
            </tr>
    </tfoot>
    <tbody>
            {% for symbol in symbols %}
            <tr>
                <th>{{symbol['symbol']}}</th>
                <th>{{symbol['name']}}</th>
                <th>{{symbol['sum_shares']}}</th>
                <th>{{symbol['price'] | usd}}</th>
                <th>{{(symbol['total']) |usd}}</th>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash | usd}}</td>
            </tr>
    </tbody>
</table>
{% endblock %}
